###
 # \file
 #
 # \brief Provides configurations for the Skywire Nano widget
 #
 # © NimbeLink Corp. 2020
 #
 # All rights reserved except as explicitly granted in the license agreement
 # between NimbeLink Corp. and the designated licensee.  No other use or
 # disclosure of this software is permitted. Portions of this software may be
 # subject to third party license terms as specified in this software, and such
 # portions are excluded from the preceding copyright notice of NimbeLink Corp.
 ##

menu "AWS IoT Sample Settings"

config APP_VERSION
	string "Application version"
	default "v1.0.0"

config PUBLICATION_INTERVAL_SECONDS
	int "Interval in seconds that the sample will publish data"
	default 60

endmenu

# Include the Zephyr kernel's configuration in a separate menu
menu "Zephyr Kernel"
    source "${ZEPHYR_BASE}/Kconfig.zephyr"
endmenu

# Include the Skywire Nano SDK's configuration (which provides its own menu)
source "${ZEPHYR_BASE}/../skywire_nano_sdk/Kconfig"
